<div class="col-sm-3 single-post-card">
  <div class="card">
    <div class="card-block">
      <h4 class="post-text">
        <% @posts.each do |post| %>
      </h4>
      <div class="post-content">
        <div class="posted-by">Posted by <%= post.user.name %></div>
        <h3><%= post.title %></h3> 
        <p><%= post.content %></p>
        <%= link_to "I'm interested", post_path(post.id), class: 'interested' %>
        <hr>
        <% end %>
      </div>
    </div>
  </div><!-- card -->
</div><!-- col-sm-3 -->